certifi==2018.1.18
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-Bootstrap==3.3.7.1
Flask-WTF==0.14.2
graphviz==0.8.2
gunicorn==19.9.0
idna==2.6
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
requests==2.18.4
urllib3==1.22
Werkzeug==0.14.1
WTForms==2.2.1

