{% extends 'bootstrap/base.html' %}

<html>
    <head>
      <title>{{ title }} - SABRE II</title>
    </head>
    <body>
        <div>
          SABRE II:
          <a href="/index">Home</a>
          <a href="/login">Login</a>
          <a href="/addSongToQ">Add Song</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
