{% extends "base.html" %}

{% block content %}
        <div class="container">

          <div class = "row text-center">
              <div class = "col-md-12">
                <h1>Welcome To SABREII</h1>
                <h3>Now Playing:</h3>
                <h1><img src={{songs[0]['artworkUrl100']}} style="width:256px;height:256px;"></h1>
                <h4>{{songs[0]['trackName']}}</h4>
                <h5>by: {{songs[0]['artistName']}}</h5>
                <h5>on: {{songs[0]['collectionName']}}</h5>
              </div>
          </div>

          {% for song in songs %}
          <div class = "row text-center id=row1">
              <div class = "col-sm-12">
                    <div class = "row">
                      <div class="col-sm-4">
                        <img src={{song.artworkUrl100}} style style="width:256px;height:256px;">
                      </div>
                      <div class="col-sm-4">
                        <h5>{{song.trackName}}</h5>
                        <h5>{{song.artistName}}</h5>
                        <h5>{{song.collectionName}}</h5>
                      </div>
                      <div class="col-sm-4">
                        Plus sign goes here
                      </div>
                    </div>
              </div>
          </div>
          {% endfor %}
        </div>
        </div>


{% endblock %}
